body{
    font-family: 'Roboto Slab', serif;
    margin: ;
   
}
h1{
    font-size: 60px;
}
.heading_color{
    color:dodgerblue;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.half_width{
    width: 50%;
}
.half_width img{
    width: 75%;
}
.button_design{
    background-image: linear-gradient(blue,dodgerblue);
    text-decoration: none;
    color: floralwhite;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 20px;
    line-height: 4em;
}
.about_me{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-left: 100px;
    padding-top: 30px;
    padding-right: 70px;
}
.about_me img{
    width: 60%;
}
#contact{
    line-height: 15em;
}